<h1>New Verification Request</h1>


<h2>Step One</h2>
<p>Clicking the button below will notifiy our staff that you would like become a the verified owner of <%= @building.address -%>. Once received, a staff member will contact you to ask you some question regarding your ownership of the building.
</p>

<%= render 'form' %>

