<h1>User</h1>

<p>
<%= signature(@user) %>
<%= link_to "Tickets (#{@user.tickets.count})", manage_tickets_path(user_id: @user.slug) %>
<%= link_to "Posts(#{@user.posts.count})", manage_posts_path(user_id: @user.slug) %>
<%= link_to "Events(#{@user.events.count})", manage_events_path(user_id: @user.slug) %>
</p>
