<h1>Update Information for <%= link_to @unit.name, manage_building_unit_path(@building, @unit) %></h1>

<%= render 'form' %>

<%= link_to 'list all building units', manage_building_units_path(@building) %>
