<h4><%= @post.building.address -%> </h4>
<p class="small"><%= link_to 'edit', edit_manage_post_path(@post) -%> </p>
<h4><%= @post.title %></h4>
<p>
<%= link_to 'List all building posts', manage_posts_path %>
</p>
