
    <h3>Members</h3>

    <div class="memberList content-posts" >
    <% @memberships.each do |membership| %>
        <div class="note member_fiche">
            <div class="header_fiche">              
                <div class="photo" style="<%= show_user_bg(membership.user, 'large', 'fit') %>"></div>
                <div class="user-name"><%= link_to username_or_anonymous(membership.user), building_user_path(@building, membership.user.slug) -%></div>
                <div class="move_in">Moved in <%= time_ago_in_words(membership.user.created_at) -%> ago</div>
            </div>
            <div class="member_details">
                
                <% if membership.user != current_user %>
                
                <%= send_message_user(user: membership.user, building: @building) %>
                <% end %>
            </div>
        </div>
    <% end %>
    </div>
