<h1>Editing Manager Invitation</h1>

<%= render 'form' %>

<p>
<%= link_to 'details', manage_manager_invitation(@manager_invitation) %> 
<%= link_to 'list manager invitations', manage_manager_invitations_path %>
</p>
