<p>Hello <%=@email-%>,</p>
<br />

<p>Your verification has been rejected. We were not able to confirm you as the true onwer of <%= @building.address -%>.</p>

<p>Contact support@upstairs.io if you believe there has been some mistake and we will work with you to resolve the issue.</p>
