<p>Hello <%=@email-%>,</p>
<br />

<p>Your verification has expired. You are currently no longer the owner of <%= @building.address -%> on Upstairs.</p>

<p>Contact support@upstairs.io if you believe there has been some mistake and we will work with you to resolve the issue.</p>
