<h1>Where do you want to go? </h1>
<ul>
 <% @memberships.group_by {|m| m.building }.each do |building, group| %>
  <li>
  <%= building.address -%> 
  <% group.each do |membership| %>
    <%= membership_landing_link(membership) -%>
  <% end %>
  </li>
<% end %>
</ul>
