<h1>Welcome To Upstairs!</h1>

<p>Thanks for joining.</p>

<p>Upstairs is the place to discuss issues with whom you live closest to.</p>

<p>The first step is to find the builiding you live in.<p>

<p> <%= link_to 'find my building', acknowledge_path, method: :put -%></p>
