<p class="about-us"><b>Elliott Blatt</b> has spent almost two decades working as a developer specializing in Ruby, backend and front end. He lives in San Francisco with two cats and a dog walker. His ultimate ambition is to do nothing in Tahoe. </p>

<p class="about-us"><b>Ludovic Piquet</b> is a designer, UI/UX expert and cross platform dev and as3 developer. He hails from France, now lives in Montreal, and hopes to continue his steady westward migration to join his Upstairs colleagues In California.</p>

<p class="about-us"><b>Katrina Krantz</b> is a seasoned veteran of startup marketing, with particular expertise in SEM, SEO, analytics, branding and sales. She lives with her husband, daughter and way too many thrift store items in San Francisco.</p>

