<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>about us</h4>
      <h1>No more nasty notes!</h1>
      <p>Communicate effectively with those you live near.</p>
      <button>Read more</button>
  </div>
</div>
