<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>legal</h4>
      <h1>Here's the fine print...</h1>
      <p>We won't do bad shit with your information</p>
  </div>
</div>
