<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>terms of service</h4>

<h1>Upstairs Legal Mumbo Jumbo</h1>
<p>Hey, welcome to Upstairs. Specifically, welcome to the Upstairs Mumbo Jumbo page, which, be warned, is written at least in part in Legalese. What you’ll find here is our terms and conditions, and what an awesome person like yourself can expect from an also-awesome company like ours.</p>

<h1>Residence verification and eligibility.</h1>
<p>Live in a sweet building? Great. Please make sure you’re the only one in your building who has an account; every building can only have one Captain and each Captain can have only one account. Feel free to use your real name, a nickname, an avatar or whatever. We want you and all your neighbors to have a safe place to speak up. We do not accept or use data from folks under the age of 13. Finally, we reserve the right to eliminate any account at our own discretion, so there.</p>

<p>We don’t share your info with anyone. For real. We’re a bunch of startups nerds in San Francisco and we take your privacy, like, really seriously, at least until we get funded and have no choice but to sell out.</p>

<h1>Images, copy and other personal content.</h1>
<p>You own all of your texts, photos, videos, editorial, gif’s, etc. If you post it, you own it. Please don’t post defamatory stuff, people, these are your close neighbors. Also, please don’t post spam, things you don’t own the rights to, things that are illegal, stuff that pisses people off...no, wait, actually, this is a social network; what would anyone post if not for stuff that pisses other people off? So forget that one. Otherwise, the rest of this applies, and if you think there has been an infringement, please write to us at thefolks@upstairs.com.</p>

<h2>Account Termination.</h2>

<p>Don’t want to be on Upstairs anymore? No problem, we’ll blast your account into space for you. Please write to thefolks@upstairs.com</p>

<h2>Liability Limits.</h2>  
<p>We are not liable for any lost profits or damages, incidental or consequential, in connection with or coming from Upstairs. If you want to do business here that’s fine, but we’re not liable for that business or its outcome.</p>

<h2>No Warranty</h2>
<p>Upstairs and its associated software and services are provided to you, dear reader, as is. By which we mean, we cannot and do not promise you that a server won’t crash somewhere or that your connection will always be perfect on our website and apps. It probably won’t. But if there are warranty exclusions in your jurisdiction, this might not apply to you.</p>

<h1>Neighbors</h1>
<p>On the tricky subject of things going wrong, if you have a dispute with a neighbor, of any nature, whether this is known or unknown, you agree to release Upstairs and our agents, officers, joint venture, employees and subsidiaries from any disputes. In other words, if you have a problem, you can’t use our playground to play aggressive dodgeball.
Finally: if you are a California resident (and if you’re reading this first draft you most likely are), you hereby waive California Civil Code §1542, which includes the following no doubt exceptionally important legal jargon: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.” So there.</p> 
  </div>
</div>

