<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>terms of service</h4>
      <h1>Don't do bad shit</h1>
      <p>Please.</p>
  </div>
</div>
