<h1 class="inline">Editing Event</h1>

<small><%= link_to 'delete', 
	building_event_path(@building, @event), 
	data: {confirm: "Are you sure that you want to delete tis event? " },
	method: :delete -%><small>

<%= render 'form' %>

<p><%= link_to 'Add new event', new_building_event_path(@building) -%></p>

<p><%= link_to 'return to calendar', building_events_path(@building) %></p>

