<div class="eventPage">
    <%= recent_alerts -%>
    <div id="events-calendar"></div>
    <div class="right_side">
    <% @events.each do |event| %>
      <div class="event">
         <%= event.starts.strftime(upstairs_time_format) -%>
         <%= link_to event.title, building_event_path(@building, event, view: params[:view] )  %>
         <p> <%= event.body -%>
         </p>
       </div>
    <% end %>
    </div>
</div>
