<h1 class="inline">Calendar of Events </h1> 
<small> <%= link_to 'Add new event', new_building_event_path(@building) -%></small>

<p>
<%= link_to 'list view', params.merge(view: 'list') -%>
</p>

<% @events.each do |event| %>
  <div>
   <%= link_to event.title, building_event_path(@building, event), class: "calendar-event" %>
 </div>
<% end %>

<p> <%= link_to 'Add new event', new_building_event_path(@building) -%></p>
