<%= render partial: 'summary' -%>

<% if @tickets.empty? %>
<p>There are no tickets matching your query.</p>
<% else %>
  <% @tickets.each do |ticket| %>
   <%= render partial: 'ticket', locals: {ticket: ticket } -%> 
   <br />
  <% end %>
<% end %>
