<div class="content-posts">
    <h1 class="inline">Tickets</h1>
<small><%= pluralize(@building.tickets.open.count, 'open ticket')-%></small>
<small><%= pluralize(@building.tickets.closed.count, 'closed ticket')-%></small>
<!-- <p><!--%= link_to 'File a New Ticket', new_building_ticket_path(@building) %></p>
<!--%= render partial: '/buildings/no_landlord' %> -->
<br/>
<% if @tickets.empty? %>
<p>There are no tickets for this building.</p>
<% else %>
<tickets>
  <left><strong>summary</strong></left>
  <middle><strong>severity</strong></middle>
  <right><strong>status</strong></right>
  <% @tickets.each do |ticket| %>
    <%= render partial: 'ticket', locals: {ticket: ticket } -%> 
  <% end %>
<% end %>
</tickets>
</div>


