<h3>repair requests</h3> 
<p><%= link_to 'Open a new repair request', new_community_ticket_path(@community) %></p>
<tickets>
<left><strong>summary</strong></left>
<middle><strong>severity</strong></middle>
<right><strong>status</strong></right>

<% @tickets.each do |ticket| %>
<left> <%= link_to ticket.title, community_ticket_path(@community, ticket) %></left>
<middle><%= ticket_severity_badge(ticket) -%></middle>
<right><%= ticket_status_badge(ticket)-%> </right>
<% end %>
</tickets>

