<h1>Invite your neighbors</h1>
<h2>There are many ways to invite your neighbor to join Upstairs </h2>
<h4> Send them an email: </h4>
<%= render 'form' %>

<h4>Share this invitation link</h4>

<p><%= invite_url(@building.invitation_link) -%></p>
