<div id="header"  >
<div id="rectangle_8"  ></div>
<div id="filters"  >
<div id="filters_1" >
Filters
</div>
<div id="arrow" >T</div>
</div>
<div id="rectangle_2"  ></div>
<div id="rectangle_2_c"  ></div>
<div id="shearch"  >
<div id="search" >
s
</div>
</div>
<div id="add"  >
<div id="bkg_1"  ></div>
<%= image_tag"icon_plus.png", id: "icon_plus" %>
<%= image_tag"icon_note_add.png", id: "icon_note_add" %>
</div>
</div>
</div>
