<div id="header"  >
    <div id="rectangle_8"  ></div>
    <div id="add"  >
        <div id="bkg_1"  ></div>
	   <%= link_to new_building_post_path(@building) do %>
        <%= image_tag"icon_plus.png", id: "icon_plus" %>
        <%= content_tag(:div, 'J', id: 'icon', class: 'icon_note_add') %>
        <%  end %>
    </div>
    
</div>
<%= form_tag building_posts_url(@building), method: :get do %>

<% end %>


        
        





        
        




