<h1>Inviatation Sent</h1>

<p>Thank you for inviting <strong><%= @invitation.email -%></strong>. An email has been sent. Hopefully they will reply.</p>

<%= link_to 'Back', community_path(@community) %>
