<h4>Bulletin Board</h4>
<ul>
 <li><%= link_to 'All', building_posts_path(@building) -%> </li>
<% Category.root.each do |category| -%>
  <li><%= link_to category.name, building_posts_path(@building, category_id: category.id)-%> </li>
<% end %>
</ul>
