<ul>
  <li>home</li>
  <li>bulletin board</li>
  <li>alerts</li>
  <li>calendar</li>
  <li>members</li>
  <li>tickets</li>
  <li>invite neighbors</li>
  <li>edit profile</li>
  <li>my profile</li>
</ul>
