
<div class="alertsHeaderModule">
    <div class="alert_list">
        <% @building.alerts_for_user(current_user).each do |alert| %>
        <span id="alert_<%=alert.id-%>" class="alert">
            <div class="alertMsg"><%= simple_format(alert.message) -%></div>
            <div class="alertDelete"> <%= link_to 'M', notification_path(@building.alert_notification_for_user(user: current_user, alert: alert) ), method: :delete -%>
            </div>
        </span>
        <% end %>
    </div>
     <div class="alertAllBt">  
        <%= link_to "all alerts", building_alerts_path(@building) -%>
    </div> 
</div> 
