<div class="content-default">
<h3>Alerts</h3>
<% if @alerts.any? %>
  <ul>
    <% @alerts.each do |alert| %>
      <li>
        <%= alert.created_at.strftime(upstairs_time_format) %>
        by <%= link_to alert.user.public_name, building_user_path(@building, alert.user) %> 
	<p><%= link_to alert.message, building_alert_path(@building, alert) %></p>
       </li>
    <% end %>
  </ul>
<%= paginate(@alerts) -%>

<% else %>

  <% if params[:searchTextField].present? %>
    <p>There are no alerts matching your query.</p>
  <% else %>
    <p>There are no alerts for this building.</p>
  <% end %>
<% end %>

</div>
