<div class="content-default">
    <h1 class="inline">Alerts</h1>


<h3>Past Alerts</h3>

<ul>
<% @alerts.each do |alert| %>
  <li>
    <%= alert.created_at.strftime(upstairs_time_format) %>
    by <%= link_to alert.user.public_name, building_user_path(@building, alert.user) %> 
    <%= link_to alert.message, building_alert_path(@building, alert) %>
  </li>
<% end %>
</ul>

<br />
<%= paginate(@alerts) -%>
</div>
