<h1>Alerts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= link_to alert.message, community_alert_path(@community, alert) %> </td>
	<td><%= link_to alert.user.public_name, community_user_path(@community, alert.user) %> 
	    <%= alert.created_at.strftime(upstairs_time_format) %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@alerts) -%>
