<h3>My Buildings</h3>
<% @user.properties.each do |building| %>
  <%= link_to building.address, building_path(building) %>
  <%= link_to "#{pluralize(building.tickets.open.count, 'open ticket')}", building_tickets_path(building) -%>
<% end %>
<p> <%= link_to 'Join another building', buildings_path -%></p>

