<h1>Photos</h1>

<% if @photos.empty? %>
<p> There are no photos or this building. Fee free to add some.</p>
<% end %>

<% @photos.each do |photo| %>
   <%= cl_image_tag(photo.path, { width: '420', crop: :scale}) %>
<% end %>

<br />

<% @building.photos.each_with_index do |photo, i| -%>
  <%= link_to building_photos_path(page: i+1 ) do -%>
   <%= cl_image_tag(photo.path, { width: '80', crop: :scale}) %>
  <% end %>
<%end%>

<p>
<%= link_to "Add a photo ", edit_building_path(@building) -%>
</p>
