<table>
  <tr>
    <td> 
      <%= link_to 'All', manage_posts_path -%> 
    </td>
    <% Category.all.each do |category| %>
      <td> 
         <%= link_to category.name, manage_posts_path(category_id: category.id )-%> 
      </td>
    <% end %>
  </tr>
  <tr>
    <td colspan="5"> 
       <% current_user.owned_and_managed_properties.each do |building| %>
         <%= link_to building.address, manage_tickets_path(buidling: building.to_param) -%>
       <% end %>
    </td> 
  </tr>
</table>
