.note_pair {
  display:block;
 width: 100%;
    min-width: 125px;
}

.note {
  top: 0px;
  left: 0px;
  width: 1012px;
  height: 125px;
  clear: both;
  background-color: white;
    min-width: 125px;
}
.onglet {
  width: 41px;
  height: 12px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.shadow {
  float: left;
  margin-left: -22px;
  width: 22px;
  height: 8px;
}

.user-name {
    padding-right: 20px;
    /* width: 47px; */
    height: 18px;
    font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #4E4E4E;
    display: inline-block;
    /* min-width: 200px; */
}

._days_ago_ {
  font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color:#4E4E4E;
    display: inline-block;
}

.info_post{
    width: 100%;
    display: block;
    height: 30px;
}

.post-text {

    white-space: nowrap;
  margin-left: 20px;
  display: block;
  font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: #2C2C2C;
}

.category {
  margin: 0px 15px;
  height: 29px;
  font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  text-align: left;
  color:#2C2C2C;
}


.title {
    height: 30px;
    font-family: Raleway-Light, Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: left;
    color: #2C2C2C;
    overflow: hidden;
    white-space: nowrap;
}

.post_text {
  margin-left: -20px;
    width: calc(100% - 61px);
}

.header_post {
    display: block;
    margin-left: 20px;
    
}
