
.note_pair {
    background: white;
}

.note {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: .3em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
    max-height: 450px;

  

  .user-name {
   // padding-right: 20px;
    /* width: 47px; */
    height: 18px;
    font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #4E4E4E;
    display: inline-block;
    /* min-width: 200px; */
 }
  .photo {    
        /* top: 0px; */
        /* left: 22px; */
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: 50px;
        margin-bottom: 10px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 120px 120px;
        margin-right: auto;
        margin-left: auto; 
    }
    .ribbon-wrapper {
      $action-color: #477dca !default;
      $ribbon-background: $action-color;
      $ribbon-size: 85px;

      @include size($ribbon-size);
      overflow: hidden;
      float: right;
      margin-top: -220px;

      .ribbon {
        @include transform(rotate(45deg));
        background-color: $ribbon-background;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 0.8em;
        left: -5px;
        line-height: 1.5em;
        padding: 2px 7px;
        text-align: center;
        margin-top: 10px;
        width: 120px;
      }
    }
    .category {
        float: left;
        /* margin-right: 15px; */
        margin-top: 10px;
        font-family: Raleway, Arial, Helvetica, sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        color: #fff;
    }

    .title {
        font-family: Raleway-Light, Arial, Helvetica, sans-serif;
        font-size: 22px;
        text-align: center;
        color: #2C2C2C;
        display: flex;
    margin-left: auto;
    margin-right: auto;
    }
    .category_color {
        width: 100%;
        height: 140px;
        float: left;
        border-top-left-radius:$base-border-radius ;
        border-top-right-radius:$base-border-radius ;
        margin-bottom: 80px;
        text-align: center;
    box-shadow: 0px 2px 5px #cccccc;
    }
}
    
.onglet {
    width: 41px;
    height: 12px;
    position: absolute;
    left: 50%;
    right: 50%;
}

.shadow {
    float: left;
    width: 22px;
    height: 8px;
}



._days_ago_ {
    font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4E4E4E;
    display: inline-block;
    text-align: right;
    width: 90%;
}

.info_post {
    width: 100%;
    display: flex;
    height: 30px;
    align-self: flex-end;
    margin-top: 20px;
}

.post-text{
    margin-top: 20px;
    text-align: center;
    
}


.post_text {   
    /* margin-left: 20px; */
    /* padding-top: 10px; */
    /* width: calc(100% - 61px); */
    height: 160px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 40px;
    display: flex;
    FLEX-DIRECTION: column;
}

.header_post {
    display: flex   ;
}
.content-posts{
    height:calc(100% - 61px);
    overflow: scroll;
    display: flex;
    margin-right: 10px;
    flex-wrap:wrap;
    
}
#inner-building-content {
    height: 100%;
    overflow:inherit;
}