// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.eventPage{
    @include outer-container;  
    margin-top: 20px;
    padding: 10px;
    
}
.right_side{
    @include span-columns(4);
}
#events-calendar{
    margin: 0px; 
    @include span-columns(8);
    
}
.event{
    display: flex;
    flex-direction: column;
    height: inherit;
}

.fc-day-grid-container.fc-scroller{
    
    max-height: 482px !important;
}