#gmaps-input-address{
  width: 100%; 
}
.ui-autocomplete {} 
.ui-front {}
.ui-menu {} 
.ui-widget {}
.ui-widget-content {}
.ui-menu-item {
  background-color: #FFA500;
  color: #0059FF;
}

div #find-your-builiding-form {
  width: 40%;
}

div #find-my-building-submit {
 background-color: #0059FF;
 color: #fff; 
}
