/*
	@name website_v4
*/
@font-face {
    font-family: 'Raleway-Bold';
    src:url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */


#content-container { display: block; position: relative; width: 100%; height: 800px; overflow: hidden;  }
.centered-navigation {
    background: none;
    border-bottom: none;
    position: absolute;
}
.color_fill_1 {
    
    position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
    min-width: 1300px;
}


.layer_4 {
    
    position: absolute;
	opacity:0.50196078431373;
	top: 27px;
	left: 213px;
	width: 849px;
	height: 521px;
}


#ellipse_1 {
	opacity:0.94901960784314;
	top: 496px;
	left: -275px;
	width: 1920px;
	height: 1098px;
    position: absolute;
	-ms-border-radius: 960px / 549px;
	-o-border-radius: 960px / 549px;
	-moz-border-radius: 960px / 549px;
	-webkit-border-radius: 960px / 549px;
	border-radius: 960px / 549px;
	background:#FFFFFF;
}


#get_the_app {
    
    position: absolute;
	opacity:0.8;
	top: 678px;
	left: 611px;
	width: 139px;
	height: 41px;
	font-family: MyriadPro-Bold, Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	color:#5D5B5B;
}


.google_png__2x {
    
    position: absolute;
	top: 723px;
	left: 694px;
	width: 130px;
	height: 40px;
}


.apple_png__2x {
    
    position: absolute;
	top: 723px;
	left: 542px;
	width: 130px;
	height: 40px;
}


#the_social_network__for_your_building_ {
    
    position: absolute;
	top: 555px;
	left: 455px;
	width: 458px;
	height: 102px;
	font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
	font-size: 46px;
	text-align: center;
	color:#5F5B55;
}
#for_your_building_ {
    
    position: absolute;
	top: 590px;
	left: 455px;
	width: 458px;
	height: 102px;
	font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	color:#5F5B55;
}

.arrow_down {
    
    position: absolute;
	top: 637px;
	left: 670px;
	width: 26px;
	height: 32px;
	
}


#rounded_rectangle_1 {
    
    position: absolute;
	top: 327px;
	left: 478px;
	width: 410px;
	height: 47px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#FFFFFF;
}


.vector_smart_object {
    
    position: absolute;
	top: 336px;
	left: 491px;
	width: 30px;
	height: 30px;
}


#find_your_building {
    
    position: absolute;
	opacity:0.50196078431373;
	top: 336px;
	left: 590px;
	width: 195px;
	height: 32px;
	font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
	color:#222222;
}


.png_logo {
    
    position: absolute;
	top: 129px;
	left: 565px;
	width: 248px;
	height: 188px;
}


#rectangle_1 {
    
    position: absolute;
	opacity:0.4;
	top: 0px;
	left: 898px;
	width: 468px;
	height: 64px;
	background:#BEB299;
}


#connection {
    
    position: absolute;
	opacity:0.8;
	top: 18px;
	left: 1229px;
	width: 111px;
	height: 26px;
	font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
	color:#565656;
}


#sign_in {
    
    position: absolute;
	opacity:0.8;
	top: 18px;
	left: 1094px;
	width: 67px;
	height: 29px;
	font-family: Raleway-Bold, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
	color:#565656;
}


#rectangle_2 {
    
    position: absolute;
	opacity:0.30196078431373;
	top: 13px;
	left: 1190px;
	width: 2px;
	height: 40px;
	background:#000000;
}

#main {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}
centered {
    padding: 0; 
    float: left;
    display: block;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    /* margin-left: 17.05961%; */
}

/* Add your custom CSS here */

