/*
	@name bulletin_board
@font-face { 
  font-family: 'Icon_set_upstairs-Regular'; 
}
*/

@font-face {
    font-family: Icon_set_upstairs-Regular;
    src: asset-url('Icon_set_upstairs-Regular.otf');
}
.homeLogo{
    height: 80px;
    
}
.home_icon_menu_small,
.home_icon_menu {
    font-family: Icon_set_upstairs-Regular;
    font-size: 120px;
    margin-top: -40px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    visibility: hidden;
    display: none;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
} 
.home_icon_menu_small {
    margin-top: 20px;
    width: 24px;
    height: 35px;
    font-size: 38px;
    display: block;
    visibility: visible;
}
#menu:hover  .home_icon_menu{
    display: block;
    visibility: visible;
    opacity:1;
}
#menu:hover  .home_icon_menu_small{
    display: block;
    visibility:hidden;
}
.icon_menu {
    float: left;
    font-family: Icon_set_upstairs-Regular, Arial, Helvetica, sans-serif;
    font-size: 46px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
}

#arrow {
    margin-left: 10px;
    font-family: Icon_set_upstairs-Regular, Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    /* top: -20px; */
    left: 65px;
    color: #565656;
    float: left;
}


/* Only edit this if you know what you are doing! */

body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    overflow-x: hidden;
}


/* Only edit this if you know what you are doing! */


#header img {
    background-color: white;
    border-radius: 50%;
    border: white solid 8px;
    /* position: absolute; */
    display: block;
    margin: 0px;
    /* border: none; */
    padding: 0px;
}


/* Only edit this if you know what you are doing! */



.add_menu {
    margin-top: -25px;
    padding-top: 25px;
    margin-left: -100%;
    background-color: #f9b81a;
}
#bulletinboard {
    top: 0px;
    left: 1px;
    width: 1179px;
    height: 690px;
}

#content {
    width: 100%;
}

#notes_list {
    height: 250px;
    position: relative;
    float: left;
}

#inner-building-content {
    height: 100%;
    overflow: scroll;


}
.content-default{
    padding-left: 10px;
    padding-top: 10px;
    
}

#rectangle_8_copy {
    top: 0px;
    left: 0px;
    width: 1012px;
    height: 125px;
    background: #FFFFFF;
}





#rectangle_8_copy_1 {
    top: 0px;
    left: 0px;
    width: 1012px;
    height: 125px;
    background: #F7F7F7;
}

#photo_1 {
    top: 0px;
    left: 22px;
    width: 140px;
    height: 125px;
}

#category_color {
    float: left;
    top: 0px;
    left: 0px;
    width: 22px;
    height: 125px;
    background: #819AC2;
    white-space: nowrap;
}

#shadow_1 {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 8px;
}

#name__1 {
    top: 97px;
    left: 134px;
    width: 47px;
    height: 18px;
    font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #4E4E4E;
}

#_days_ago__1 {
    top: 97px;
    left: 244px;
    width: 72px;
    height: 21px;
    font-family: Raleway-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #4E4E4E;
}


#onglet {
    width: 41px;
    height: 12px;
}

#header {
    /* top: 0px; */
    /* left: 1px; */
    height: 45px;
    width: 100%;
    /* position: absolute; */
    /* margin-bottom: 30px; */
    display: block;
}

#rectangle_8 {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    z-index: -1;
}

.filters {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 19px;
    float: right;
}

#filters_title {
    float: left;
    margin-right: 5px;
    color: #565656;
    height: 40px;
}

#filters_1 {
    margin-top: 20px;
    float: right;
    opacity: 0.8;
    width: 90px;
    height: 24px;
    font-family: Raleway-regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    color: #565656;
}

#rectangle_2 {
    float: right;
    margin-top: 14px;
    opacity: 0.30196078431373;
    /* top: 19px; */
    /* left: 748px; */
    width: 1px;
    height: 34px;
    background: #000000;
}

#alerts {
    top: 9px;
    left: 29px;
    width: 614px;
    height: 53px;
}

#alert_end {
    top: 0px;
    left: 553px;
    width: 61px;
    height: 53px;
}

#bkg {
    opacity: 0.10196078431373;
    top: 0px;
    left: 0px;
    width: 61px;
    height: 53px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #E83A3A;
}

#title_2 {
    opacity: 0.70196078431373;
    top: 19px;
    left: 25px;
    width: 20px;
    height: 13px;
    font-family: Raleway-ExtraBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    -ms-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
    -o-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
    -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
    -moz-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
    color: #B52121;
}



#alert_copy {
    top: -4px;
    left: 0px;
    width: 238px;
    height: 20px;
    font-family: Raleway-ExtraBold, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #E87676;
}

#add {
    margin-top: -20px;
    margin-left: 20px;
}


#bkg_1 {
    top: -1px;
    left: 0px;
    width: 107px;
    height: 108px;
    -ms-border-radius: 53px / 53px;
    -o-border-radius: 53px / 53px;
    -moz-border-radius: 53px / 53px;
    -webkit-border-radius: 53px / 53px;
    border-radius: 53px / 53px;
    background: #FFFFFF;
}

#icon_plus {
    top: 11px;
    right: 11px;
    width: 86px;
    height: 86px;
}

.icon_note_add {
    position: absolute;
    margin-left: 10px;
    top: 40px;
    right: 30px;
    opacity: 0.3;
    font-family: Icon_set_upstairs-Regular, Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: left;
    color: #FFFFFF;
    float: right;
    border: none;
    background: none;
    line-height: 12px;
}
@mixin texture($gradient-angle, $bg-color-1, $bg-color-2, $texture-number, $inverted) { $texture-list: 
  "paper.png"             // Fabric and paper
  "rice_paper.png"
  "noise_lines.png"
  "fabric_plaid.png"
  "first_aid_kit.png"
  "texturetastic_gray.png"
  "lil_fiber.png"
  "tex2res5.png"
  "skin_side_up.png"
  "light_noise_diagonal.png"
  "chruch.png"
  "45degreee_fabric.png"
  "bgnoise_lg.png"
  "little_pluses.png"
  "squairy_light.png"
  "white_texture.png"
  "binding_light.png"
  "double_lined.png"      // Grid, mesh and squares
  "grid.png"
  "absurdidad.png"
  "grid_noise.png"
  "fancy_deboss.png"
  "graphy.png"
  "noise_pattern_with_crosslines.png"
  "old_mathematics.png"
  "ps_neutral.png"
  "subtle_freckles.png"
  "wavegrid.png"
  "az_subtle.png"
  "tiny_grid.png"
  "wavegrid.png"
  "gridme.png"
  "noisy_grid.png"
  "subtlenet2.png"
  "white_carbon.png"
  "lghtmesh.png"
  "p5.png"                 // Dots
  "worn_dots.png"
  "subtle_dots.png"
  "brillant.png"
  "farmer.png"
  "retina_dust.png"        // Lines
  "pinstripe.png"
  "line_horizontal1.png"
  "line_horizontal2.png"
  "linen.png" 
  "vintage_speckles.png"   // Patina and irregular
  "subtle_grunge.png"
  "old_wall.png"
  "brushed.png"
  "stucco.png"
  "mooning.png"
  "husk.png"
  "concrete_wall_2.png"
  "noisy.png"
  "concrete_wall_3.png"
  "subtle_surface.png"
  "dust.png"
  "light_alu.png"
  "corrugation.png" 
  "kindajean.png"           // Diagonal
  "line_diagonal1.png"
  "line_diagonal2.png"
  "groovepaper.png"
  "brushed_alu.png"
  "rough_diagonal.png"
  "diagonal-noise.png"
  "cross_scratches.png"
  "striped_lens.png"
  "debut_light.png"
  "diagonal_waves.png"    // Special
  "honey_im_subtle.png"
  "pw_maze_white.png"
  "subtle_zebra_3d.png"
  "white_wave.png"
  "circles.png"
  "crosses.png"
  "grilled.png"
  "pw_pattern.png"
  "struckaxiom.png"
  "vichy.png"
  "wavecut.png"
  "whitey.png"
  "cream_pixels.png"
  "grey.png"
  "shinedotted.png"
  "stacked_circles.png"
  "noisy_grid_simple.png";

  @if ($inverted == 1) {
    @include background(url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/#{nth($texture-list, $texture-number)}"), linear-gradient($gradient-angle, $bg-color-1, $bg-color-2), center no-repeat $bg-color-1 scroll);
  }

  @else {
    @include background(url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/#{nth($texture-list, $texture-number)}"), linear-gradient($gradient-angle, $bg-color-1, $bg-color-2), center no-repeat $bg-color-1 scroll);
  }
}

  $texture-top-background: #eea10b;
  $texture-bottom-background: #f9b81a;

#content-container {
    /* margin-left: 10px; */
    display: block;
    max-height:  842px;
    /* overflow: hidden; */
    
}
.group {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    @include transition(all 3s);  
    
}
#settings {
    @inlude align-self(flex-end)  ;
}
.group:nth-of-type(1) { flex-grow: 1; }
.group:nth-of-type(2) { flex-grow: 1; }
.group:nth-of-type(3) { flex-grow: 50; }
.group:nth-of-type(4) { flex-grow: 1; }
#menu {
    width: 45px;
    height: 100%;
    float: left;
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 1); 
    margin-right:0; 
        @include align-items(stretch);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(flex-start);
    @include align-items(stretch);
    @include transition(width 0.1s ease-in-out)
}
#menu:hover { 
    width: 165px;
}
#menu:hover  .menu_item_text{
    display: block;
    visibility: visible;
}
#background {
    top: 0px;
    left: 0px;
    width: 170px;
    height: 100%;
}

#gradient_fill_2 {
    top: 0px;
    left: 0px;
    width: 169px;
    height: 100%;
}

#pattern_fill_1_copy {
    opacity: 0.2;
    top: 1px;
    left: 1px;
    width: 169px;
    height: 690px;
}


#split {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
}

#rectangle_7_copy_3 {
    top: 1px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgba(256,256,256,0.4) ;
}

#rectangle_7_copy_2 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.06) ;
}

#bulletin {
}

#alert_1 {
}

#news_element_icon {
    top: 18px;
    left: 16px;
    width: 11px;
    height: 11px;
}




.menu_item{
    padding-left: 8px;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 34px;
    margin-top: 5px;
    overflow: hidden;
}
.menu_item_text{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    font-family: Raleway-Medium, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
    white-space: nowrap;
    display: none;
    visibility:hidden;
    
}

.menu_item_text_add{
    margin-left: 10px;
    float: left;
    font-family: Raleway-Medium, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    color: #FFFFFF;
    white-space: nowrap;
    margin-top: 7px;
    
}
/* Add your custom CSS here */

.nav {
    height: 40px;   
}

.nav > a {
    display: none;
}

.nav li {
    position: relative;
    color: white;
}
.nav li a {
    position: relative;
    color: white;
}

    

/* first level */

.nav > ul {
    height: 3.75em;
}

.nav > ul > li {
    float: left;
}
.nav > ul > li > ul > li {
    float: left;
    padding: 10px;  
    width: 100%;
    
}
.nav > ul > li > ul  {
    background: #565656; 
     border-radius: 2px;
    margin-left: -100%;
} 
.nav > ul > li > ul > li> a  {
     text-decoration: none;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    white-space: nowrap;
} 
.nav > ul > li > ul > li:Hover  .menu_item_text_add,
.nav > ul > li > ul > li:Hover  .icon_menu,
.nav > ul > li > ul > li:Hover > a  {
    color: #565656; 
    
}   
.nav > ul > li > ul > li:Hover  {
     text-decoration: none;
    @include transition( background 0.1s linear);
   
    background:white;
}   
   

/* second level */

#searchC {
    height: 60px;
    float: right;
    background: white;
}

#searchC > form > input[type='text']{
    margin-top: 15px;
    margin-left: 10px;
    text-align: left;
    color: #AFAFAF;
    float: right;
    line-height: 12px;
}
.icon{
     opacity: 0.8;
     font-family: Icon_set_upstairs-Regular, Arial, Helvetica, sans-serif;
    font-size: 46px;
    text-transform: uppercase;
    text-align: left;
    color: #AFAFAF;
}
#search {
    margin-left: 10px;
    top: -16px;
    left: -5px;
    width: 52px;
    height: 52px;
    float: right;
}
#searchC > form > input[type='submit']{
    margin-left: 10px;
    float: right;
    border: none;   
    padding-top: 13px;
    background: none;
    line-height: 12px;
}

.nav li ul {
    display: none;
    position: absolute;
    top: 100%;
}

.nav li:hover ul {
    display: block;
}
.left_nav_menu{
    float: left;
    width: 100%;
    height: 20px;
    
}
.left_nav_profile{
    width: 100%;
    
    
}
.left_nav_profile li{
    width: 100%;
}
.left_nav_profile > ul > li > ul{
    
    position: relative;
    margin-left: 0px;   
    padding-left: 30px;
}
.building-selector  a{
    
    font-family: Icon_set_upstairs-Regular, Arial, Helvetica, sans-serif;
    
}
.building-selector-text{
    visibility: hidden;
    display: none;
    font-family: Raleway-Medium, Arial, Helvetica, sans-serif;
    white-space: nowrap;  
    overflow: hidden;
    
}
#menu:hover .building-selector-text {
    visibility: visible;
    display: block;
    
}
#menu:hover .building-selector-icon{
   visibility: hidden;
    display: none;
    
}
.building-selector-icon{
    color: white;
    font-size: 30px;
    text-align: center;
    
}
.left_nav_menu  > ul > li > ul  {
    margin-left: 0;
    width: 100%;

    
} 
.left_nav_menu > ul > li {
    float: left;
    width: 100%;
    text-align: center;
}
.building-selector{
    margin-left: 10px;
    margin-right: 10px;
    border: white 1px solid;    
    border-radius: 3px;
    
}
#searchC:hover #searchTextField{
    display: block;
    padding: 10px;
    width: 200px;
}
#searchC #searchTextField{
    height: 35px;
    padding: 10px;
    -webkit-transition: width 0.1s linear;
    -moz-transition: width 0.1s linear;
    transition: width 0.1s linear;
    width: 0px;
    display: none;
    
}
.accordion {  
  > li > a {
    font-weight: normal;
  }

  ul.submenu {
    display: none;
  }

  .is-expanded {
    > a {
      color: red;
    }

    display: block;
  }
}

#news_element_icon{
    position: relative;
    
}
.content-Neighbor{
    padding-left: 10px;
}
.content-Neighbor ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
