$radius: 3px;
div.member {
  border: 1px solid black;
  float: left;
  padding: 1em;
  margin: 1em;
}

.memberList{
     display: flex;
    flex-direction: row;          
    font-family:  Raleway-light;
    flex-wrap: wrap;
    
}
.user-name{
    width: 100%;
    text-align: center;
}

.member_fiche{
    flex-grow: 1;
    padding: 10px;
    min-width: 200px;
    display: flex;
    background: #ffffff;
    flex-direction:column;
    align-items: stretch;
    justify-content: space-between;
    height:initial;
    border-radius: 8px;
    .photo{
        width: 120px;
        height: 120px;
        margin: 0px;
        margin-right: auto;
        margin-left: auto;
       // flex: 0 0 120px;
        border-radius: 0px
        
    }
    .icon_button {
        font-family: Icon_set_upstairs-Regular, Arial, Helvetica, sans-serif;
        font-size: 26px;
        line-height: 16px;
        margin-top: -8px;
    }
    .header_fiche{
        margin-bottom: 0px;
        flex-direction: column;
    }
}
.member_details{
    //padding: 10px;  
}
.member_action{
    padding: 10px;  
}
.move_in{
    font-size: 10px;    
    text-align: center; 
    
}
.btn {
    align-items: flex-end;
    border-radius: $radius;
    font-family: Raleway-Light;
    text-transform:uppercase;
    color: #919191;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: solid #e0e0e0 1px;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
  background: #f2f2f2;
  text-decoration: none;
}