#main {
  @include outer-container;
}
section {
  left  { @include span-columns(4); }
  right { @include span-columns(6); }
}

dashboard {
  left { @include span-columns(8); } 
  right { @include span-columns(4); }
}

home {
  @include outer-container;
  left { @include span-columns(4);}
  right { @include span-columns(8);}
}

community {
   @include span-columns(12);
  communityleft {
   @include span-columns(6 of 12);
   communityimage { @include span-columns(2 of 6); } 
   communitymembership{ @include span-columns(3 of 6); } 
   communityfeed{ @include span-columns(6 of 6); } 
  }
  communityright {
    @include span-columns(6 of 12)
  }
}

nav {
  navleft { @include span-columns(2);}
  navright { @include span-columns(2);}
}

gallery {
  left  { @include span-columns(8); }
  right { @include span-columns(4); }
}

tickets {
  @include outer-container;
  left  { @include span-columns(6); }
  middle { @include span-columns(2); }
  right { @include span-columns(2); }
}

ticket {
  @include outer-container;
  left  { @include span-columns(6); }
  right { @include span-columns(6); }
}

.byline {
  font-size: small;
  display:block;
}

.activity{
  font-size: small;
}
