body {
  background-color: #E4DCD4; 
}

#main {
  @include outer-container;
}


centered {
 @include pad();
 @include span-columns(8);
 @include shift(2);
}

section {
  left  { @include span-columns(4); }
  right { @include span-columns(6); }
}

dashboard {
  left { @include span-columns(8); } 
  right { @include span-columns(4); }
}

home {
  @include outer-container;
  left { @include span-columns(4);}
  right { @include span-columns(8);}
}

community {
  @include span-columns(12);
  communityleft {
    @include pad();
    @include span-columns(4 of 12);
    communityimage { 
     @include pad();
     @include span-columns(4 of 4); 
    }
    communitymembership { 
      @include pad();
      @include span-columns(4 of 7);  
      @include pad();
      categories { 
        @include pad(); 
      }
      classifieds { 
      @include pad();
      }
      activities { 
        @include pad(); 
      }
    } 
  } 
  communityright {
    communityfeed { 
      @include pad();
      @include span-columns(7 of 12); 
    }
  }
}

.post-image {
  float:left;
  margin: 12px 12px;
}

.post-body {
  padding:10px;
  display:block;
}

.post-body-thumb {
  padding:10px;
  display:block;
}

.comment-body {
  border-left: 1px dotted #ccc;
  margin:5px;
  padding:5px;
}

.reply-body {
  border-left: 1px dotted #ccc;
  margin:20px 5px;
  padding:5px;
}

.comments-list {
  margin: 5px;
  display:block;
}



nav {
  navleft { @include span-columns(2);}
  navright { @include span-columns(2);}
}

gallery {
  left  { @include span-columns(8); }
  right { @include span-columns(4); }
}

tickets {
  @include outer-container;
  left  { @include span-columns(6); }
  middle { @include span-columns(2); }
  right { @include span-columns(2); }
}

ticket {
  @include outer-container;
  left  { @include span-columns(6); }
  right { @include span-columns(6); }
}

.activity{
  font-size: small;
}

.inline {
  display: inline;
}

.ui-widget-content {
  width: 40%;
}

div #find-your-community {
  min-height: 800px;
}

p.reply-summary{
  margin-left:2em; 
}

td.calendar-date {
  vertical-align:top;
  height:150px; 
  width:150px; 
  border: 1px dotted #ccc;
}

strong.calendar-title {
  font-size:24px;
  margin:10px;
}

a.calendar-event {
  font-size:12px;
}
