<h5>Recent Ads</h5>

<ul id="classifieds">
<% @community.classifieds.order('created_at desc').limit(5).each do |classified| %>
<li> 
<strong><%= link_to classified.title, community_classified_path(@community, classified) %> </strong>
<small><%= edit_link(classified, current_user) %> <%= delete_link(classified, current_user)%></small>
</li> 
<% end %>
</ul>

<p><%= link_to 'Post a new  Ad', new_community_classified_path(@community) %></p>
