<p><%= pluralize(comment.replies.count, 'reply' ) -%> <%= link_to 'reply', new_comment_reply_path(comment) -%>
</p>

<% comment.replies.each do |reply| %>
 <p class="by-line"><%= by_line(reply) -%></p>
<p class="reply-body">
<%= reply.body -%>
</p>
<br>
<% end %>

