<h1>Choose your community </h1>

<h2><%= @address -%></h2>

<%= render partial: 'bigger_map' -%>

<%= link_to "No, this is not my address.", communities_path %>
<%= link_to "Yes, this is my address.", new_community_path(address: @address) %>
