<section>
<left>
<h1>Photos</h1>
<% @community.photos.each do |photo| %>
 <%= cl_image_tag(photo.path, { size: '400x600', crop: :fit }) %>
<% end %>

<p><%= link_to 'back', community_path( @community) -%> </p>
</left>
<right>
Comments?
</right>
</section>

