<section>
<% if @communities.empty? %>
 <p>There are no communities in the system.</p>
<% end %>
<ol>
<% @communities.each do |community|%>
  <li>
     <%= address(community, ' ') %> 
     <%= form_tag  community_memberships_path(community), method: :post do %>
       <%= submit_tag 'join' -%>
     <% end %>	
  </li>
<%end%>
<%= link_to 'add a new community', new_community_path -%>
</section>
