<h1>Join Community</h1>

<h2><%= @community.address -%></h2>

<%= render partial: 'bigger_map' -%>

<%= render 'form' %>

<br />

<p><%= link_to 'join a different community', communities_path %></p>

