<center>
<h2><%= address(@community, ' ') -%></h2>
<br /><%= render partial: 'membership' -%>
</center>

<dashboard>

<left>
<%= render partial: 'posts' -%>
</left>

<right>
<%= render partial: 'members' -%>
</right>

</dashboard>
