<%
  @event  = @building.events.new
  @alert  = @building.alerts.new
  @ticket = @building.tickets.new
  @post   = @building.posts.new
%>

<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Add a new event.</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Enter a new Event</h1>
      <p class="modal-intro">Create a new Event.</p>
      <p class="modal-content">
        <%= render partial: '/events/form'%>
        <%= render partial: '/alerts/form'%>
        <%= render partial: '/tickets/form'%>
        <%= render partial: '/posts/form'%>
      </p>
    </div>
  </div>
</div>

